.banner{
  background: url(../img/blog-hero-bgd.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 112px 0;
  text-align: center;
  color: #fff;
  margin-top: 96px;

  h2{
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 120%;
  }

  p{
    max-width: 855px;
    font-size: 25px;
    line-height: 130%;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;

    h2{
      font-size: 35px;
      margin-bottom: 15px;
    }
    p{
      font-size: 18px;
    }
  }
  @media screen and (max-width: 575px) {
    margin-top: 80px;
  }
}

.categories{
  background: #eeedfe;
  padding: 36px 0;

  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  li{
    text-align: center;
  }

  a{
    font-size: 18px;
    line-height: normal;
    color: #1E3396;

    &::after{
      content: '';
      display: block;
      // width: 100%;
      height: 1px;
      opacity: 0;
      visibility: hidden;
      background: #1E3396;
      transition: all .3s ease;
    }

    &:hover::after{
      opacity: 1;
      visibility: visible;
    }

    &.active::after{
      opacity: 1;
      visibility: visible;
      color: #1E3396;
    }
  }

  &__list_mob{
    position: relative;
    z-index: 10;
    display: none;
  }

  &__list__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    cursor: pointer;

    span{
      font-weight: 600;
      font-size: 17px;
      line-height: 23px;
      color: #1E3396;
    }
  }

  &__list__body{
    background: #fff;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 25px 15px;
    position: absolute;
    top: 43px;
    left: 0;
    height: 100%;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
  }

  &__list__body_active{
    opacity: 1;
    max-height: 1000px;
    visibility: visible;
    z-index: 15;
    transition: all .3s ease;
  }

  @media screen and (max-width: 992px) {
    &__list{
      gap: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 20px 0;

    li{
      text-align: start;
      border-bottom: 1px solid #E9EDF9;
      padding-bottom: 6px;
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    a{
      font-size: 17px;
      font-weight: 600;
      color: #2E2E5E;

      &.active{
        color: #1E3396;
      }
    }

    &__list{
      display: none;
    }

    &__list_mob{
      display: block;
    }
  }
}

.content{
  padding: 70px 0;

  &__inner{
    display: flex;
    gap: 180px;
    justify-content: center;
  }

  &__links__item{
    display: block;
    margin-bottom: 50px;
    width: 100%;
    max-width: 400px;
    position: relative;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__links__user{
    display: flex;
    margin-top: -25px;
    margin-left: 13px;

    img{
      max-width: 50px;
    }

    p{
      margin-top: auto;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #000;
      margin-left: 10px;
      margin-bottom: 0px;
      padding-bottom: 2px;

      &::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #E9EDF9;
      }
    }

    span{
      font-weight: 400;
    }
  }

  &__links__named{
    margin-top: 20px;
    padding-left: 18px;

    span{
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #243453;
    }
    
    p{
      margin-top: 10px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #243453;
    }
  }

  &__item__title{
    font-size: 15px;
    line-height: 150%;
    color: #261f67;
    padding: 5px 20px;
    background: #E9EDF9;
    margin: 0;
    position: absolute;
    top: 13px;
    left: 13px;
    border-radius: 5px;
  }

  h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    color: #261F67;
    text-align: center;
    margin-bottom: 20px;
  }

  form{
    position: relative;
    width: 100%;
    width: 445px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  input{
    width: 100%;
    font-size: 18px;
    color: #2E2E5E;
    padding: 15px 24px;
    padding-right: 140px;
    border: 2px solid #2E2E5E;
    border-radius: 9px;

    &::placeholder{
      font-size: 18px;
      color: #2E2E5E;
    }
  }

  button{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: 2px solid #1E3396;
    padding: 15px 35px;
    border-radius: 9px;
    background: #1E3396;
    transition: all .3s ease;
    position: absolute;
    right: 0;
    top: 0;

    &:hover{
      background: transparent;
      color: #1E3396;
    }
  }

  &__news__sub{
    background: url(../img/blog/Subscribe.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 179px 54px 34px;
    width: 100%;
    max-width: 393px;
    margin: 0 auto;
    
    p{
      font-size: 20px;
      line-height: 140%;
      font-weight: 600;
      margin-bottom: 30px;
      color: #fff;
      max-width: 272px;
    }

    form{
      width: 285px;
      margin: 0;

      input{
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        padding: 13px 18px;
        padding-right: 90px;

        &::placeholder{
          color: #fff;
        }
      }

      button{
        padding: 13px 18px;
        background: #fff;
        color: #1E3396;
        border: 1px solid #fff;

        &:hover{
          color: #fff;
          background: transparent;
        }
      }
    }
  }

}
.news__article{
  padding: 30px;
  border-radius: 15px;
  background: #E9EDF9;
  margin-bottom: 55px;

  &__title{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  h4{
    margin: 0;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    color: #1E3396;
  }

  a{
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }

    img{
      width: 100%;
      max-width: 194px;
      border-radius: 5px;
    }
  }

  span{
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }

  p{
    font-size: 18px;
    line-height: 140%;
    color: #261F67;
    max-width: 226px;
    font-weight: 600;
  }

}