.banner {
  background: url(../img/blog-hero-bgd.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 112px 0;
  text-align: center;
  color: #fff;
  margin-top: 96px
}
.banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 42px
}
.banner p {
  max-width: 855px;
  font-size: 25px;
  line-height: 130%;
  margin: 0 auto
}
@media screen and (max-width:768px) {
  .banner {
    padding: 50px 0
  }
  .banner h1 {
    font-size: 35px;
    margin-bottom: 15px
  }
  .banner p {
    font-size: 18px
  }
}
@media screen and (max-width:575px) {
  .banner {
    margin-top: 80px
  }
}
.categories {
  background: #eeedfe;
  padding: 36px 0
}
.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px
}
.categories a {
  font-size: 18px;
  line-height: normal;
  color: #1e3396;
  position: relative;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.categories a::after {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.categories a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #1e3396;
  position: absolute;
  bottom: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.categories a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #1e3396;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  bottom: 0
}
.categories__list_mob {
  position: relative;
  z-index: 10;
  display: none
}
.categories__list__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
  cursor: pointer
}
.categories__list__head span {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #1e3396
}
.categories__list__body {
  background: #fff;
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 25px 15px;
  position: absolute;
  top: 43px;
  left: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.categories__list__body li {
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e9edf9
}
.categories__list__body li:last-child {
  margin-bottom: 0
}
.categories__list__body a {
  font-weight: 700
}
.categories__list__body_active {
  opacity: 1;
  max-height: 1000px;
  visibility: visible;
  z-index: 15;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
@media screen and (max-width:992px) {
  .categories__list {
    gap: 15px;
    display: none
  }
  .categories__list_mob {
    display: block
  }
}
@media screen and (max-width:768px) {
  .categories {
    padding: 20px 0
  }
  .categories li {
    text-align: start;
    border-bottom: 1px solid #e9edf9;
    padding-bottom: 6px;
    margin-bottom: 20px
  }
  .categories li:last-child {
    margin-bottom: 0
  }
  .categories a {
    font-size: 17px;
    font-weight: 600;
    color: #2e2e5e
  }
  .categories a.active {
    color: #1e3396
  }
}
.content {
  padding: 70px 0
}
.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 130px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.content__links__named {
  margin-top: 20px;
  padding-left: 18px
}
.content__links__named span {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #243453
}
.content__links__named p {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #261f67
}
.content__links__item {
  display: block;
  margin-bottom: 50px;
  width: 100%;
  max-width: 400px;
  position: relative
}
.content__links__item:last-child {
  margin-bottom: 0
}
.content__links__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.content__links__item a:hover + .content__links__named p {
  text-decoration: underline
}
.content__links__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -25px;
  margin-left: 13px
}
.content__links__user img {
  max-width: 50px
}
.content__links__user p {
  margin-top: auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin-left: 10px;
  margin-bottom: 0;
  padding-bottom: 2px
}
.content__links__user p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #e9edf9
}
.content__links__user span {
  font-weight: 400
}
.content__item__title {
  font-size: 15px;
  line-height: 150%;
  color: #261f67;
  padding: 5px 20px;
  background: #e9edf9;
  margin: 0;
  position: absolute;
  top: 13px;
  left: 13px;
  border-radius: 5px
}
.content__links__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-top: auto
}
.content__links__pages button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  width: 35px;
  height: 35px;
  border: 2px solid #1e3396;
  border-radius: 6px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.content__links__pages button svg {
  fill: #1e3396;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.content__links__pages button:hover {
  background: #1e3396
}
.content__links__pages button:hover svg {
  fill: #fff
}
.content__links__pages .rotate svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.content__links__pages a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  width: 35px;
  height: 35px;
  background: #e9edf9;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #1e3396;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.content__links__pages a:hover {
  background: #1e3396;
  color: #fff
}
.content__links__pages .pagination_active {
  background: #1e3396;
  color: #fff;
  font-weight: 700
}
.content__links__pages span {
  font-size: 16px;
  margin: 0 10px;
  margin-top: auto;
  color: #1e3396
}
.content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  color: #261f67;
  text-align: center;
  margin-bottom: 20px
}
.content form {
  position: relative;
  width: 100%;
  width: 445px;
  margin: 0 auto;
  margin-bottom: 55px;
  position: relative
}
.content input {
  width: 100%;
  font-size: 18px;
  color: #2e2e5e;
  padding: 15px 24px;
  padding-right: 140px;
  border: 2px solid #2e2e5e;
  border-radius: 9px
}
.content input::-webkit-input-placeholder {
  font-size: 18px;
  color: #2e2e5e
}
.content input::-moz-placeholder {
  font-size: 18px;
  color: #2e2e5e
}
.content input:-ms-input-placeholder {
  font-size: 18px;
  color: #2e2e5e
}
.content input::-ms-input-placeholder {
  font-size: 18px;
  color: #2e2e5e
}
.content input::placeholder {
  font-size: 18px;
  color: #2e2e5e
}
.content .form__options {
  background: #f3f7fb;
  padding: 30px 24px;
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 5;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.content .form__options li {
  margin-bottom: 25px
}
.content .form__options li:last-child {
  margin-bottom: 0
}
.content .form__options a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px
}
.content .form__options p {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  color: #261f67
}
.content .form__options span {
  font-weight: 700
}
.content .form__options.active {
  opacity: 1;
  overflow: visible;
  max-height: 1000px
}
.content__news button {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: 2px solid #1e3396;
  padding: 15px 35px;
  border-radius: 9px;
  background: #1e3396;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  right: 0;
  top: 0
}
.content__news button:hover {
  background: 0 0;
  color: #1e3396
}
.content .news__article {
  padding: 30px;
  border-radius: 15px;
  background: #e9edf9;
  margin-bottom: 55px
}
.content .news__article__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px
}
.content .news__article__title img {
  animation: fire 1s infinite alternate-reverse linear
}
@-webkit-keyframes fire {
  from {
    -webkit-filter: drop-shadow(0 0 0 #1e3396);
    filter: drop-shadow(0 0 0 #1e3396)
  }
  to {
    -webkit-filter: drop-shadow(0 0 6px #1e3396);
    filter: drop-shadow(0 0 6px #1e3396)
  }
}
@keyframes fire {
  from {
    -webkit-filter: drop-shadow(0 0 0 #1e3396);
    filter: drop-shadow(0 0 0 #1e3396)
  }
  to {
    -webkit-filter: drop-shadow(0 0 6px #1e3396);
    filter: drop-shadow(0 0 6px #1e3396)
  }
}
.content .news__article h4 {
  margin: 0;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  color: #1e3396
}
.content .news__article__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 25px;
  margin-bottom: 40px;
  position: relative
}
.content .news__article__item:last-child {
  margin-bottom: 0
}
.content .news__article__item img {
  width: 194px;
  height: 100px;
  border-radius: 5px
}
.content .news__article a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.content .news__article a:hover + div p {
  text-decoration: underline
}
.content .news__article span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px
}
.content .news__article p {
  font-size: 18px;
  line-height: 140%;
  color: #261f67;
  max-width: 250px;
  font-weight: 600;
  margin: 0
}
@media screen and (max-width:1024px) {
  .content__inner {
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
@media screen and (max-width:992px) {
  .content {
    padding: 50px 0
  }
  .content__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .content__links__con {
    display: -ms-grid;
    display: grid;
    gap: 25px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr
  }
  .content__links__item {
    max-width: none
  }
  .content__links__named span {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 19px
  }
  .content .del-btn {
    display: none
  }
  .content__links__pages {
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px
  }
  .content__news h3 {
    display: none
  }
  .content__news .form-none {
    display: none
  }
  .content .news__article {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 25px
  }
  .content .news__article a {
    margin: 0
  }
  .content .news__article a img {
    width: 226px;
    max-width: none
  }
  .content .news__article__title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .content .news__article__con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    overflow-x: scroll;
    width: 100%
  }
  .content .news__article__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 226px;
    margin: 0
  }
  .content input {
    font-size: 14px;
    border-radius: 5px;
    width: 100%
  }
  .content input::-webkit-input-placeholder {
    font-size: 14px
  }
  .content input::-moz-placeholder {
    font-size: 14px
  }
  .content input:-ms-input-placeholder {
    font-size: 14px
  }
  .content input::-ms-input-placeholder {
    font-size: 14px
  }
  .content input::placeholder {
    font-size: 14px
  }
  .content form {
    width: 100%
  }
  .content form button {
    font-size: 14px;
    border-radius: 5px
  }
  .content__news__sub form {
    width: 100%!important
  }
}
@media screen and (max-width:768px) {
  .content__links__con {
    display: block;
    gap: 25px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr
  }
}
@media screen and (max-width:375px) {
  .content .del-btn-w {
    display: none
  }
}
.sales h2 {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  color: #000;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative
}
.sales h2::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 193px;
  height: 1px;
  background: #243453;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%)
}
.sales h2 span {
  font-weight: 700;
  color: #1e3396
}
.sales p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  max-width: 530px;
  margin: 0 auto;
  margin-bottom: 70px
}
@media screen and (max-width:768px) {
  .sales h2 {
    font-size: 30px;
    line-height: 30px
  }
  .sales p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 40px
  }
}
.content__news__sub {
  background: url(../img/blog/Subscribe.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 179px 54px 34px;
  width: 100%;
  max-width: 393px;
  margin: 0 auto
}
.content__news__sub p {
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
  max-width: 272px
}
.content__news__sub form {
  width: 285px;
  margin: 0;
  position: relative
}
.content__news__sub form input {
  border: 1px solid #fff;
  background: 0 0;
  color: #fff;
  padding: 13px 18px;
  padding-right: 90px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%
}
.content__news__sub form input::-webkit-input-placeholder {
  color: #e9edf9
}
.content__news__sub form input::-moz-placeholder {
  color: #e9edf9
}
.content__news__sub form input:-ms-input-placeholder {
  color: #e9edf9
}
.content__news__sub form input::-ms-input-placeholder {
  color: #e9edf9
}
.content__news__sub form input::placeholder {
  color: #e9edf9
}
.content__news__sub form button {
  padding: 13px 18px;
  background: #fff;
  color: #1e3396;
  border: 1px solid #fff;
  border-radius: 5px;
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.content__news__sub form button:hover {
  color: #fff;
  background: 0 0
}
@media screen and (max-width:992px) {
  .content__news__sub {
    display: none
  }
}
.news__sub_mar {
  display: none;
  margin-bottom: 50px
}
@media screen and (max-width:992px) {
  .news__sub_mar {
    display: block
  }
}
.swiper {
  padding-top: 80px;
  margin-bottom: 70px;
  position: relative
}
@media (max-width:767px) {
  .swiper {
    padding-top: 0;
    margin-bottom: 50px
  }
}
.swiper .sw-btn {
  width: 35px;
  height: 35px;
  border: 2px solid #1e3396;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.swiper .sw-btn svg {
  fill: #1e3396;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.swiper .sw-btn:hover {
  background: #1e3396
}
.swiper .sw-btn:hover svg {
  fill: #fff
}
.swiper-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px
}
@media (max-width:767px) {
  .swiper-action {
    gap: 0 40px;
    margin-top: 30px
  }
}
.swiper-action .swiper-butt-next svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.swiper .item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 15px;
  overflow: hidden
}
.swiper .item.swiper-slide-next a,
.swiper .item.swiper-slide-prev a {
  position: relative
}
.swiper .item.swiper-slide-next a::after,
.swiper .item.swiper-slide-prev a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fffFFF80
}
.swiper .item.swiper-slide-active,
.swiper .item.swiper-slide-next,
.swiper .item.swiper-slide-prev {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.12);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.12)
}
.swiper .item.swiper-slide-active {
  margin-top: 10px
}
@media screen and (max-width:768px) {
  .swiper .item.swiper-slide-active {
    margin-top: 0
  }
}
.swiper .item img {
  display: block
}
.outsourcing {
  padding: 170px 0 62px;
  overflow: hidden
}
.outsourcing__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px
}
.outsourcing h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 10px
}
.outsourcing p {
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 30px
}
.outsourcing aside {
  margin-top: 60px;
  width: 30%
}
.outsourcing__recet {
  background: #e9edf9;
  padding: 25px;
  border-radius: 10px;
  max-width: 280px;
  margin-bottom: 35px
}
.outsourcing__recet__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #1e3396;
  margin-bottom: 35px
}
.outsourcing__service {
  max-width: 280px;
  background: #202b6d;
  border-radius: 10px;
  padding: 25px
}
.outsourcing__service input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #e9edf9;
  padding: 13px 20px;
  border: 1px solid #e9edf9;
  background: 0 0;
  border-radius: 5px;
  margin-bottom: 10px
}
.outsourcing__service input:last-child {
  margin-bottom: 0
}
.outsourcing__service input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #e9edf9
}
.outsourcing__service input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #e9edf9
}
.outsourcing__service input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #e9edf9
}
.outsourcing__service input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #e9edf9
}
.outsourcing__service input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #e9edf9
}
.outsourcing__service textarea {
  width: 100%;
  height: 146px;
  outline: 0;
  border: none;
  resize: none;
  border-radius: 5px;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 24px;
  color: #1e3396;
  margin-bottom: 10px
}
.outsourcing__service textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #1e3396
}
.outsourcing__service textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #1e3396
}
.outsourcing__service textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #1e3396
}
.outsourcing__service textarea::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #1e3396
}
.outsourcing__service textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #1e3396
}
.outsourcing__service button {
  border-radius: 5px;
  border: 1px solid #fff;
  background: #fff;
  padding: 18px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #1e3396;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.outsourcing__service button:hover {
  background: 0 0;
  color: #fff
}
.outsourcing__link {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #261f67;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.outsourcing__link:last-child {
  margin-bottom: 0
}
.outsourcing__link:hover {
  color: #1e3396;
  text-decoration: underline
}
.outsourcing__content {
  width: 100%
}
.outsourcing__content_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px
}
.outsourcing__content_nav p {
  padding: 6px 20px;
  background: #e9edf9;
  border-radius: 5px;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #261f67
}
.outsourcing__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #1e3396;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.outsourcing__content a:hover {
  background: #1e3396
}
.outsourcing__content a:hover svg {
  fill: #fff
}
.outsourcing__content svg {
  fill: #1e3396;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.outsourcing__content__banner {
  background: url(../img/blog/out-bgd.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 42px;
  border-radius: 25px 25px 0 0
}
.outsourcing__content__banner h1 {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 620px
}
.outsourcing__content__txt {
  background: #fff;
  padding: 50px 80px
}
.outsourcing__content__txt p {
  font-size: 16px;
  line-height: 24px;
  color: #2e2e5e
}
.outsourcing__content__txt p:last-child {
  margin-bottom: 0
}
.outsourcing__content__txt span {
  font-weight: 700
}
.outsourcing__content__txt h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2e2e5e;
  margin-bottom: 30px
}
.outsourcing__content__txt ul {
  margin-bottom: 30px
}
.outsourcing__content__txt li {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px
}
.outsourcing__content__txt li:last-child {
  margin-bottom: 0
}
.outsourcing__content__txt li p {
  margin: 0
}
.outsourcing__content__txt .num {
  margin-top: 3px
}
.outsourcing .person__job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.outsourcing .person__job img {
  width: 68px;
  height: 68px
}
.outsourcing .person__job span {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #fff
}
.outsourcing .person__job span::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff
}
.outsourcing__content__sales {
  display: none;
  padding: 30px 50px;
  background: #202b6d;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px
}
.outsourcing__content__sales h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 10px
}
.outsourcing__content__sales p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 15px
}
.outsourcing__content__sales button {
  background: #fff;
  border: 1px solid #fff;
  width: 100%;
  max-width: 160px;
  border-radius: 7px;
  padding: 15px;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  color: #001b99;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.outsourcing__content__sales button:hover {
  background: 0 0;
  color: #fff
}
.outsourcing__article {
  padding: 50px 0;
  background: #e9edf9;
  margin-top: 50px
}
.outsourcing__article h2 {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  color: #2e2e5e;
  text-align: center
}
.outsourcing__article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px
}
.outsourcing__article__item {
  width: 226px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative
}
.outsourcing__article span {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #243453;
  margin: 20px 0 10px
}
.outsourcing__article p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #261f67;
  margin: 0
}
.outsourcing__article a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.outsourcing__article a:hover + p {
  text-decoration: underline
}
@media screen and (max-width:992px) {
  .outsourcing {
    padding: 120px 0 50px
  }
  .outsourcing aside {
    display: none
  }
  .outsourcing__content__banner {
    width: calc(100% + 70px);
    margin-left: -35px;
    padding: 40px 30px
  }
  .outsourcing__content__banner h1 {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 10px
  }
  .outsourcing .person__job {
    gap: 20px
  }
  .outsourcing .person__job img {
    width: 53px;
    height: 53px
  }
  .outsourcing .person__job span {
    font-size: 18px;
    line-height: 25px
  }
  .outsourcing__content__txt {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 50px 25px
  }
  .outsourcing__content__txt p {
    font-size: 15px;
    line-height: 22px
  }
  .outsourcing__content__txt h3 {
    font-size: 15px;
    line-height: 22px
  }
  .outsourcing__content__txt span {
    font-size: 15px;
    line-height: 22px
  }
  .outsourcing__content__txt .num {
    margin: 0
  }
  .outsourcing__content__sales {
    display: block
  }
  .outsourcing__article {
    margin-top: 0
  }
  .outsourcing__article .container {
    overflow-x: scroll
  }
  .outsourcing__article__list {
    width: 1000px
  }
  .outsourcing__article h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px
  }
}